<div class="container mt-3">
  <h1>Restaurants</h1>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://loremflickr.com/320/240/<%=Restaurant::CATEGORIES.sample%>)">
    </div>
    <%= @restaurant.name %>
  </div>
  <%= @restaurant.address %>
  <%= @restaurant.phone_number %>
</div>
